<div class="content-section">
  <div class="container content-holder">
    <div class="myscroll mCustomScrollbar">

      <div class="change-passwords">
        <div class="header-card">
          <h3>Change Password</h3>
        </div>
        <div class="content-card">
          <form [formGroup]="changePassForm" (ngSubmit)="changePassword()">
            <div class="form-group"> 
              <label>OLD PASSWORD <span class="mandatory">*</span></label>
              <div class="row"> 
                <div class="sub-group col-xs-6">
                  <p [ngClass]="{ 'has-error': formControls.old_password.touched && formControls.old_password.errors }">
                    <input type="password" class="form-control" formControlName="old_password" id="old_password"/>
                  </p>
                  <div *ngIf="formControls.old_password.touched" class="cust-error">
                    <div *ngIf="formControls.old_password.errors?.required">Old password is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>NEW PASSWORD <span class="mandatory">*</span></label>
              <div class="row">
                <div class="sub-group col-xs-6">
                  <p [ngClass]="{ 'has-error': formControls.new_password.touched && formControls.new_password.errors }">
                    <input type="password" formControlName="new_password" class="form-control" id="new_password" />
                  </p>
                  <div *ngIf="formControls.new_password.touched" class="cust-error">
                    <div *ngIf="formControls.new_password.errors?.required">New password is required</div>
                    <div *ngIf="formControls.new_password.errors?.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>CONFIRM PASSWORD <span class="mandatory">*</span></label>
              <div class="row">
                <div class="sub-group col-xs-6">
                  <p [ngClass]="{ 'has-error': formControls.confirm_password.touched && formControls.confirm_password.errors }">
                  <input type="password" formControlName="confirm_password" class="form-control" id="confirm_password" />
                  </p>
                  <div *ngIf="formControls.confirm_password.touched" class="cust-error">
                    <div *ngIf="formControls.confirm_password.errors?.required">Confirm password is required</div>
                    <div *ngIf="formControls.confirm_password.errors?.mustMatch">Password must match</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="actionbuttons">
              <button type="submit" class="pass-change" [disabled]="changePassForm.invalid">Change Password</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
