<div class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 copyright">
        Copyright © 2019 Concept. All rights reserved.
      </div>
      <div class="col-sm-3">
        <!--<div class="inline right">
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-instagram"></span></a>
                </div>-->
      </div>
    </div>
  </div>
</div>