<div class="modal-header">
  <h4 class="modal-title">{{ assessment.title }} Form</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"><span>&times;</span></button>
</div>
<form [formGroup]="assessmentForm" name="form" #ngForm="ngForm" (ngSubmit)="assessmentForm.valid && submitAssessment()" novalidate>
  <div class="modal-body">
    <div *ngFor="let field of formFields" [ngSwitch]="field.input_type">
      <div class="form-group" *ngSwitchCase="'text'">
        <label class="label-input">{{ field.question }} <span class="require-sign">*</span></label>
        <input type="text" class="form-control" formControlName="{{ field.id }}" #name [attr.disabled]="isReadonlyFields ? '' : null"/>
        <div *ngIf="ngForm.submitted || formControls[field.id].touched" class="invalid-feedback " style="color:red;">
          <div *ngIf="formControls[field.id].errors?.required">{{ field.validation_messages.required }}</div>
          <div *ngIf="formControls[field.id].errors?.number">{{ field.validation_messages.number }}</div>
          <div *ngIf="formControls[field.id].errors?.digits">{{ field.validation_messages.digits }}</div>
          <div *ngIf="formControls[field.id].errors?.rangeLength">{{ field.validation_messages.rangeLength }}</div>
          <div *ngIf="formControls[field.id].errors?.min && !formControls[field.id].errors?.max">{{ field.validation_messages.min }}</div>
          <div *ngIf="formControls[field.id].errors?.max">{{ field.validation_messages.max }}</div>
          <div *ngIf="formControls[field.id].errors?.alphaComma">{{ field.validation_messages.alphaComma }}</div>
        </div>
      </div>

      <div class="form-group" *ngSwitchCase="'radio_button'">
        <label class="label-input">{{ field.question }} <span class="require-sign">*</span></label>
        <div class="radio inline" *ngFor="let val of field.values; let j = index">
          <input id="{{field.id}}{{j}}" formControlName="{{ field.id }}" style="display:inline-block;" type="radio"
            class="form-control"
            value="{{val.title}}"
            #name
            [attr.disabled]="isReadonlyFields ? '' : null"
          />
          <label for="{{field.id}}{{j}}">
            {{val.title}}
          </label>
        </div>
        <div *ngIf="ngForm.submitted && formControls[field.id].errors?.required" class="invalid-feedback" style="color: red">
          <div *ngIf="formControls[field.id].errors?.required">{{ field.validation_messages.required }}</div>
        </div>
      </div>

      <div class="form-group" *ngSwitchCase="'select'">
        <label class="label-input">{{ field.question }} <span class="require-sign">*</span></label>
        <select formControlName="{{field.id}}" id="{{field.id}}" class="form-control" #name [disabled]="isReadonlyFields">
          <option value="">{{field.question}}</option>
          <option *ngFor="let val of field.values; let j = index" value="{{val.title}}">{{val.title}}</option>
        </select>
        <div *ngIf="ngForm.submitted && formControls[field.id].errors?.required" class="invalid-feedback" style="color: red">
          <div *ngIf="formControls[field.id].errors?.required">{{ field.validation_messages.required }}</div>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="previous" (click)="activeModal.dismiss('Close clicked')">Close</button>
    <button *ngIf="!hideSaveBtn" type="submit" class="saveme">Save changes</button>
  </div>
</form>