/**** Profile Section *****/
.editprofile-container {

}

.editprofile-container .profile-nav {
    padding: 0 0px;
}

.editprofile-container .profile-nav ul {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.editprofile-container .profile-nav ul li {
    text-align: center;
    flex: 1;
}


.editprofile-container .profile-nav ul li a {
    color: #a9abb8;
    cursor: pointer;
    display: inline-block;
    font-family: 'FredokaOne';
    font-weight: 400;
    font-size: 14px;
    height: 100%;
    letter-spacing: 1px;
    padding: 25px 12px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.editprofile-container .profile-nav ul li a:before {
    background-image: url('../images/sprite-edit-profile-nav.png');
    content: "";
    display: block;
    height: 48px;
    margin: 0 auto 12px;
    width: 48px;
}

.editprofile-container .profile-nav ul li a.personal-details:before {
    background-position: 0 0;
}
.editprofile-container .profile-nav ul li a.personal-details:hover:before,
.editprofile-container .profile-nav ul li.active a.personal-details:before {
    background-position: 0 -48px;
}

.editprofile-container .profile-nav ul li a.medical-details:before {
    background-position: -48px 0;
}
.editprofile-container .profile-nav ul li a.medical-details:hover:before,
.editprofile-container .profile-nav ul li.active a.medical-details:before {
    background-position: -48px -48px;
}

.editprofile-container .profile-nav ul li a.obstetric-history:before {
    background-position: -96px 0;
}
.editprofile-container .profile-nav ul li a.obstetric-history:hover:before,
.editprofile-container .profile-nav ul li.active a.obstetric-history:before {
    background-position: -96px -48px;
}

.editprofile-container .profile-nav ul li a.habits:before {
    background-position: -144px 0;
}
.editprofile-container .profile-nav ul li a.habits:hover:before,
.editprofile-container .profile-nav ul li.active a.habits:before {
    background-position: -144px -48px;
}

.editprofile-container .profile-nav ul li a.measurements:before {
    background-position: -192px 0;
}
.editprofile-container .profile-nav ul li a.measurements:hover:before,
.editprofile-container .profile-nav ul li.active a.measurements:before {
    background-position: -192px -48px;
}

.editprofile-container .profile-nav ul li a.blood-parameters:before {
    background-position: -240px 0;
}
.editprofile-container .profile-nav ul li a.blood-parameters:hover:before,
.editprofile-container .profile-nav ul li.active a.blood-parameters:before {
    background-position: -240px -48px;
}

.editprofile-container .profile-nav ul li a.food-preference:before {
    background-position: -288px 0;
}
.editprofile-container .profile-nav ul li a.food-preference:hover:before,
.editprofile-container .profile-nav ul li.active a.food-preference:before {
    background-position: -288px -48px;
}

.editprofile-container .profile-nav ul li a.fitness-level:before {
    background-position: -336px 0;
}
.editprofile-container .profile-nav ul li a.fitness-level:hover:before,
.editprofile-container .profile-nav ul li.active a.fitness-level:before {
    background-position: -336px -48px;
}

.editprofile-container .profile-nav ul li a.avatar-selection:before {
    background-position: -384px 0;
}
.editprofile-container .profile-nav ul li a.avatar-selection:hover:before,
.editprofile-container .profile-nav ul li.active a.avatar-selection:before {
    background-position: -384px -48px;
}

.editprofile-container .profile-nav ul li:hover a,
.editprofile-container .profile-nav ul li.active a {
    background: #040c33;
    color: #fff;
}

.editprofile-container .profile-nav ul li.disabled a,
.editprofile-container .profile-nav ul li.disabled:hover a {
    pointer-events: none;
    background: #56565680;
    color: #ffffff4d;
}

/*.editprofile-container .profile-nav .actions {
    display: none;
}
*/
.editprofile-container .profile-content {

}

.editprofile-container .profile-content section {
    display: none;
}

.editprofile-container .profile-content section.active {
    display: block;
}


/**** Assessment Section *****/
.assessment-form-container {
    font-family: 'ProximaNovaRegular';
}

.assessment-form-container .assessment-cards {
    margin: 0 -5px;
}

.assessment-form-container .assessment-cards .section {
    background: url('../images/assessment/assessment-card-pattern.png') no-repeat;
    border-radius: 10px;
    float: left;
    margin: 5px;
    padding: 30px;
    width: calc(100% / 4 - 10px);
    text-align: center;
    text-decoration: none;
    height: 350px;
    transition: box-shadow 0.3s ease-in;
}

.assessment-form-container .assessment-cards .section:hover {
    box-shadow: 0px 0px 0px 2px #fff inset;
}

.assessment-form-container .assessment-cards .section .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;    
}

.assessment-cards .section.stage-1  {background-color: #862b49;}
.assessment-cards .section.stage-2  {background-color: #4b2b86;}
.assessment-cards .section.stage-3  {background-color: #036671;}
.assessment-cards .section.stage-4  {background-color: #9a6327;}
.assessment-cards .section.stage-5  {background-color: #2b864d;}
.assessment-cards .section.stage-6  {background-color: #862b2b;}
.assessment-cards .section.stage-7  {background-color: #812b86;}
.assessment-cards .section.stage-8  {background-color: #2b866b;}
.assessment-cards .section.stage-9  {background-color: #710360;}
.assessment-cards .section.stage-10 {background-color: #03367c;}
.assessment-cards .section.stage-11 {background-color: #036671;}
.assessment-cards .section.stage-12 {background-color: #9a6327;}

.assessment-cards .section .challenge-icon {
    height: 100px;
    margin: 0 auto 25px;
    width: 120px;
}

.assessment-cards .section .challenge-title {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.assessment-cards .section .challenge-stage {
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.assessment-cards .section .challenge-description {
    color: rgba(255, 255, 255, 0.7294117647058823);
    display: none;
    line-height: 22px;
    margin-bottom: 12px;
}

.assessment-cards .section .challenge-status {
    background: rgba(255, 255, 255, 0.29);
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    letter-spacing: 2px;
    margin: auto;
    padding: 8px 14px;
    text-transform: uppercase;
    transform: translateY(80%);
}

.assessment-cards .section.locked {
    cursor: not-allowed;
}


.assessment-cards .section.locked .challenge-lock-icon {
    background: url('../images/assessment-locked-icon.png') no-repeat;
    width: 41px;
    height: 64px;
    margin: 0 auto 15px;
    text-indent: -10000px;
}

.assessment-cards .section.locked .challenge-stage {
    color: #fff;
}

/****** Forms Starte Here ******/
.showinfo-form-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.showinfo-form {
    background: #040c33;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    left: 15px;
    margin: 0;
    padding: 20px 20px 20px 30px;
    position: absolute;
    text-transform: none;
    top: -8px;
    z-index: 1;
    width: max-content;
    max-width: 400px;
    transition: opacity 0.5ms linear;
}

.showinfo-form:before {
    border-bottom: 7px solid transparent;
    border-right: 7px solid #040c33;
    border-top: 7px solid transparent;
    content: "";
    height: 0;
    left: -7px;
    position: absolute;
    top: 14px;
    width: 0;
}
.form-group {
    font-family: 'ProximaNovaRegular';
    margin-bottom: 25px;
    position: relative;
}

.row.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row.flex-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.form-group > label {
    color: #5b9bf2;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.form-group .sub-group {
    margin-bottom: 10px;
}

.form-group .sub-group label {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 8px;
    display: block;
}

.form-group .mandatory {
    color: #ee4348;
    font-weight: 700;
    margin: 3px;
}

.form-group .form-control {
    padding: 10px 20px;
    height: auto;
    color: #000;
    font-size: 16px;
}

.form-group .form-control:focus {
    box-shadow: inset 0px 0px 1px 1px #4683d6;
}

/* Radio Button  - Styling */
.radio input[type="radio"] {
    margin-top: 2px;
}

.radio > [type="radio"]:not(:checked),
.radio > [type="radio"]:checked {
    position: absolute;
    left: -9999px;
}

.radio > [type="radio"]:not(:checked) ~ label,
.radio > [type="radio"]:checked ~ label {
    position: relative;
    padding-left: 28px;
    color: #fff;
    font-size: 16px;
}

.radio > [type="radio"]:not(:checked) ~ label:before,
.radio > [type="radio"]:not(:checked) ~ label:after,
.radio > [type="radio"]:checked ~ label:before,
.radio > [type="radio"]:checked ~ label:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    transition: all .1s linear;
}

.radio > [type="radio"]:not(:checked) ~ label:before,
.radio > [type="radio"]:checked ~ label:before {
    left: 1px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background: #064191;
}

.radio > [type="radio"]:not(:checked) ~ label:after,
.radio > [type="radio"]:checked ~ label:after {
    top: 50%;
    margin-top: -5px;
    left: 6px;
    background: rgb(118,137,228); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(118,137,228,1) 64%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(118,137,228,1) 64%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(118,137,228,1) 64%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7689e4', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
    width: 10px;
    height: 10px;
    line-height: 13px;
}

.radio > [type="radio"]:not(:checked) ~ label:before {
    border: 2px solid #5b9bf2;
}

.radio > [type="radio"]:not(:checked) ~ label:hover:before {
    border: 2px solid #5b9bf2;
}

.radio > [type="radio"]:checked ~ label:before,
.radio > [type="radio"]:checked ~ label:hover:before {
    border: 2px solid #5b9bf2;
}

.radio > [type="radio"]:not(:checked) ~ label:after {
    opacity: 0;
    transform: scale(0);
}


.radio > [type="radio"]:checked ~ label:after {
    opacity: 1;
    transform: scale(1);
}

.radio > [type="radio"]:not(:checked):disabled ~ label,
.radio > [type="radio"]:checked:disabled ~ label {
    cursor: not-allowed;
}

.radio > [type="radio"]:not(:checked):disabled ~ label:before,
.radio > [type="radio"]:checked:disabled ~ label:before {
    background: #345582;
    border: 2px solid #567eb7;
    color: #D9D2D0;
    cursor: not-allowed;
    opacity: 1;
}

.radio > [type="radio"]:not(:checked):disabled ~ label:after,
.radio > [type="radio"]:checked:disabled ~ label:after {
    background: #567eb7;
}

.radio > [type="radio"][data-indeterminate] ~ label:after {
    content: '\2212';
    left: 2px;
    opacity: 1;
    transform: scale(1);
}

.form-group .inline.radio {
    display: inline-block;
    margin: 0 30px 0 0;
    vertical-align: middle;
}

.radio > [type="radio"] ~ label.error:before,
.radio > [type="radio"] ~ label.error:after {
    content: none;
}

.radio label.error {
    bottom: -20px;
    color: red !important;
    font-size: 14px !important;
    padding: 0 !important;
    position: absolute !important;
}

/* Checkbox  - Styling */
.checkbox input[type="checkbox"] {
    margin-top: 2px;
}


.checkbox > [type="checkbox"]:not(:checked),
.checkbox > [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

.checkbox > [type="checkbox"]:not(:checked) ~ label,
.checkbox > [type="checkbox"]:checked ~ label {
    position: relative;
    padding-left: 28px;
    color: #fff;
    font-size: 16px;
}

.checkbox > [type="checkbox"]:not(:checked) ~ label:before,
.checkbox > [type="checkbox"]:not(:checked) ~ label:after,
.checkbox > [type="checkbox"]:checked ~ label:before,
.checkbox > [type="checkbox"]:checked ~ label:after {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 1px;
    width: 20px; 
    height: 20px;
    border-radius: 4px;
    transition: all .1s linear;
}

.checkbox > [type="checkbox"]:not(:checked) ~ label:before,
.checkbox > [type="checkbox"]:checked ~ label:before {
    content: '';    
    background: #064191;
}

.checkbox > [type="checkbox"]:not(:checked) ~ label:after,
.checkbox > [type="checkbox"]:checked ~ label:after {
    content: '\e013';
    color: #7689e4;
    font-family: 'Glyphicons Halflings';
    font-weight: normal;
    font-size: 12px;
    padding: 2px 3px;
    line-height: 14px; 
}

.checkbox > [type="checkbox"]:not(:checked) ~ label:before,
.checkbox > [type="checkbox"]:not(:checked) ~ label:hover:before {
    border: 2px solid #5b9bf2;
}

.checkbox > [type="checkbox"]:checked ~ label:before,
.checkbox > [type="checkbox"]:checked ~ label:hover:before {
    border: 2px solid #5b9bf2;
}

.checkbox > [type="checkbox"]:not(:checked) ~ label:after {
    opacity: 0;
    transform: scale(0);
}

.checkbox > [type="checkbox"]:checked ~ label:after {
    opacity: 1;
    transform: scale(1);
}

.checkbox > [type="checkbox"]:not(:checked):disabled ~ label,
.checkbox > [type="checkbox"]:checked:disabled ~ label {
    cursor: not-allowed;
}

.checkbox > [type="checkbox"]:not(:checked):disabled ~ label:before,
.checkbox > [type="checkbox"]:checked:disabled ~ label:before {
    background: #345582;
    border: 2px solid #567eb7;
    color: #D9D2D0;
    cursor: not-allowed;
    opacity: 1;
}

.checkbox > [type="checkbox"]:not(:checked):disabled ~ label:after,
.checkbox > [type="checkbox"]:checked:disabled ~ label:after {
    color: #567eb7;
}

.checkbox > [type="checkbox"] ~ label.error:before,
.checkbox > [type="checkbox"] ~ label.error:after {
    content: none;
}

.checkbox label.error {
    bottom: -26px;    
    padding: 0 !important;
    position: absolute !important;
}

.checkbox:last-child {
    margin-bottom: 30px;
}

.checkbox + .checkbox, .radio + .radio {
    margin-top: 0;
}

.radio,
.checkbox {
    position: initial;
}

label.error {
    color: red !important;
    font-size: 14px !important;
    text-transform: capitalize;
    font-weight: 600 !important;
    margin: 0;
}

/*** Forms End Here****/
