<div>
    <div class="modal-content">
     <div class="modal-header">
        <h6 class="modal-title pull-left">User Creation</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     <div class="modal-body">
        <div class="tab-content">
         <form novalidate="novalidate" (ngSubmit)="submitForm()">
            <div class="card-body">
              <div class="form-group">
                <label for="inputSuccess">Email address</label>
                <input 
                type="email" 
                class="form-control is-valid" 
                id="inputSuccess" 
                placeholder="Enter email"
                ngModel
                name="email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input 
                type="password" 
                class="form-control" 
                id="exampleInputPassword1" 
                placeholder="Password"
                ngModel
                name="password">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input 
                    type="file" 
                    class="custom-file-input" 
                    id="exampleInputFile"
                    ngModel
                    name="cust_file">
                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text" id="">Upload</span>
                  </div>
                </div>
              </div>
              <div class="form-check">
                <input 
                type="checkbox" 
                class="form-check-input" 
                id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                  <button type="submit" class="btn btn-info btn-align">
                     Search Records
                     </button>
            </div>
          </form>
        </div>
     </div>
     <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onConfirm()">Confirm</button>
        <button type="button" class="btn btn-secondary" (click)="onClose()">Cancel</button>
        </div> -->
      </div>
  </div>