<div class="profile-nav header-card">
  <ul class="step-steps" id="ul_id">
    <li routerLink="/profile/personal-info" routerLinkActive="active" [class.disabled]="!globals.Steps['1']">
      <a class="personal-details" routerLink="/profile/personal-info">
        Personal
        <br>
        Info
      </a>
    </li>
    <li routerLink="/profile/medical-history" routerLinkActive="active" [class.disabled]="!globals.Steps['2']">
      <a class="medical-details" routerLink="/profile/medical-history">
        Medical
        <br>
        History
      </a>
    </li>
    <li *ngIf="isObstetricStepVisible" id="tab3_li" routerLink="/profile/obstetric-history" routerLinkActive="active" [class.disabled]="!globals.Steps['3']">
      <a class="obstetric-history" routerLink="/profile/obstetric-history">
        Obstetric
        <br>
        History
      </a>
    </li> 
    <li routerLink="/profile/habits" routerLinkActive="active" [class.disabled]="!globals.Steps['4']">
      <a class="habits" routerLink="/profile/habits">
        Habits
      </a>
    </li>
    <li routerLink="/profile/measurements" routerLinkActive="active" [class.disabled]="!globals.Steps['5']">
      <a class="measurements" routerLink="/profile/measurements">
        Measurements
      </a>
    </li>
    <li routerLink="/profile/blood-parameters" routerLinkActive="active" [class.disabled]="!globals.Steps['6']">
      <a class="blood-parameters" routerLink="/profile/blood-parameters">
        Blood
        <br>
        Parameters
      </a>
    </li>
    <li routerLink="/profile/food-preference" routerLinkActive="active" [class.disabled]="!globals.Steps['7']">
      <a class="food-preference" routerLink="/profile/food-preference">
        Food
        <br>
        Preference
      </a>
    </li>
    <li routerLink="/profile/fitness-level" routerLinkActive="active" [class.disabled]="!globals.Steps['8']">
      <a class="fitness-level" routerLink="/profile/fitness-level">
        Fitness
        <br>
        Level
      </a>
    </li>
  </ul>
</div>