
  <div class="login-wrapper">
      <div class="superhero">
          <img src="assets/images/newBase.png" alt="Super Hero Login" class="bgimg"/>
          <div class="flyingsuperhero entrance">
              <img src="assets/images/loginvyom.png" alt="" class="vyom vibrate">  
          </div>
      </div>
 
        <div class="inner-container">
          <div *ngIf="danger" class="alert alert-danger alert-dismissable"  >
          {{errMsg}}
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          </div>
  
          <div *ngIf="success" class="alert alert-success alert-dismissable" >
            {{successMsg}}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          </div>

          <div class="box">
          
          <div class="login-img">
                     <a href="javascript:void(0);"><img src="assets/images/f2f-logo.png" alt="F2FLogo"></a>             
          </div>
            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            
            <input type="text" formControlName="email" placeholder="Enter your email"  class="fgpassinput" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />

          <div *ngIf="submitted && f.email.errors" class="cust-error">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>

            <button [disabled]="butForgot" type="submit" class="mysignin">
            <span>Submit  </span> <span class="loader loaderBut" *ngIf="butLoader"></span></button>

            <p class="backbtn"><a routerLink="login">Back to Login page</a></p>
            </form>
            
          </div>
      
          <div class="login-footer">
              <!--<p class="social-icons">
                  <a href="#"><span class="fa fa-twitter"></span></a>
                  <a href="#"><span class="fa fa-facebook"></span></a>
                  <a href="#"><span class="fa fa-instagram"></span></a>
              </p>-->
              <div class="footer-logo">
                  <img src="assets/images/naina-singhania-logo.png" alt="F2FLogo">
              </div>
          </div>
        </div>

    </div>