<form id="tab8_form" name="tab8_form" novalidate="novalidate" (ngSubmit)="f.form.valid && finishAndSave()" #f="ngForm">
  <div class="content-card"> 
    <div class="profile-content step-content">
      <section class="step-tab-panel active" id="tab8">
        
        <div class="form-group eff-field">
          <label>Seconds of Plank you hold<span class="mandatory blink-2">*</span></label>
          <input type="text" name="30" id="question_30"
          maxlength="10"  
          required
          [(ngModel)]="fitnessLevel['30']" 
          #question_30="ngModel"
          DigitDecimaNumberOnly 
          class="form-control valid required  border-ef" 
            aria-required="true">
          <div class="error-30"></div>
          <div *ngIf="question_30.invalid && (f.submitted || question_30.dirty || question_30.touched)" class="alert alert-danger" class="cust-error">
              <div *ngIf="question_30.errors.required">
                  Seconds of Plank you hold  is required.
              </div>
            </div>

        </div>
        <div class="form-group eff-field">
          <label>No. of Steps daily<span class="mandatory blink-2">*</span></label>
          <input type="text" name="31" id="question_31" class="form-control valid required  border-ef"
            maxlength="10"  
            required
            [(ngModel)]="fitnessLevel['31']" 
            #question_31="ngModel"
            DigitDecimaNumberOnly 
            aria-required="true">
          <div class="error-31"></div>
          <div *ngIf="question_31.invalid && (f.submitted || question_31.dirty || question_31.touched)" class="alert alert-danger" class="cust-error">
              <div *ngIf="question_31.errors.required">
                  No. of Steps daily  is required.
              </div>
            </div>
        </div>
        <div class="form-group eff-field">
          <label>Number of Squats in one set<span class="mandatory blink-2">*</span></label>
          <input type="text" name="32" id="question_32" class="form-control valid required  border-ef" 
          maxlength="10"  
          required
          [(ngModel)]="fitnessLevel['32']" 
          #question_32="ngModel"
          DigitDecimaNumberOnly 
            aria-required="true">
          <div class="error-32"></div>
          <div *ngIf="question_32.invalid && (f.submitted || question_32.dirty || question_32.touched)" class="alert alert-danger" class="cust-error">
              <div *ngIf="question_32.errors.required">
                  Number of Squats in one set  is required.
              </div>
            </div>
        </div>
        <div class="form-group ">
          <label>Which band do you prefer?<span class="mandatory blink-2">*</span></label>
          <div class="radio inline"><input class="41_radio" id="40_google_fit" type="radio" style="display:inline-block;"
              name="40" value="Google Fit"
              [(ngModel)]="fitnessLevel['40']"
              #whichBandPrefer="ngModel"
              required="" aria-required="true">
            <label for="40_google_fit">
              Google Fit
            </label></div>
          <div class="radio inline"><input class="41_radio" id="40_fitbit" type="radio" style="display:inline-block;"
              name="40" value="Fitbit" 
              [(ngModel)]="fitnessLevel['40']"
              #whichBandPrefer="ngModel"
              required="" aria-required="true">
            <label for="40_fitbit">
              Fitbit
            </label></div>
          <div class="radio inline"><input class="41_radio" id="40_health_care" type="radio" style="display:inline-block;"
              name="40" value="Health Care"
              [(ngModel)]="fitnessLevel['40']"
              #whichBandPrefer="ngModel"
              required="" aria-required="true">
            <label for="40_health_care">
              Health Care
            </label>
          </div>
          <div *ngIf="whichBandPrefer.invalid && (f.submitted || whichBandPrefer.dirty || whichBandPrefer.touched)" class="alert alert-danger"
            class="cust-error">
            <div *ngIf="whichBandPrefer.errors.required">
              Band is required.
            </div>
          </div>
        </div>
      </section>
    </div>
    <div *ngIf="f.form.invalid; else elseblock">
      {{ profileDataService.validationError(f.form.invalid, 8) }}
    </div> 
    <ng-template #elseblock>
      {{ profileDataService.validationError(f.form.invalid, 8) }}
      {{ formValidHandler() }}
    </ng-template>
    <div class="step-footer">
        <button class="step-btn previous" data-direction="prev" (click)="goToPrevious()" [disabled]="f.form.invalid">
          Previous
        </button>
        <button type="submit" class="step-btn btn btn-success successme" data-direction="finish" style="display: inline-block;">
          Finish
        </button>
      </div>
  </div>
</form>