<form id="tab3_form" name="tab3_form" novalidate="novalidate" (ngSubmit)="f.form.valid && goToNext()" #f="ngForm">
  <div class="content-card">
    <div class="profile-content step-content">
      <section class="step-tab-panel active" id="tab3">
        
        <!-- regular periods -->
        <div class="form-group checkbox-lists">
          <label class="upppercase">
            Do you get regular periods?
            <span class="mandatory blink-2">
              *
            </span>
          </label>
          <div class="radio inline">
            <input class="all_of_the_above_14 obstetric_14" id="obstetric_14_yes" 
            style="display:inline-block;" type="radio" value="Yes" aria-required="true"
            name="checkbox_14[]" 
            required
            [(ngModel)] = "regularPeriods"
            #regular = "ngModel"
            (change)="regularPeriodsChangeHandler()"
              />
            <label for="obstetric_14_yes">
              Yes
            </label>
          </div>
          <div class="radio inline">
            <input class="all_of_the_above_14 obstetric_14" id="obstetric_14_no" 
              style="display:inline-block;" type="radio" value="No" aria-required="true"
              name="checkbox_14[]" 
              required
              [(ngModel)] = "regularPeriods"
              #regular = "ngModel"
              (change)="regularPeriodsChangeHandler()"
              />
            <label for="obstetric_14_no">
              No
            </label>
          </div>
          <div *ngIf="regular.invalid && (f.submitted || regular.dirty || regular.touched)" class="alert alert-danger" class="cust-error">
            <div *ngIf="regular.errors.required">
              This field is required.
            </div>
          </div>
        </div>
        <!-- /. regular periods -->

        <!-- menopaused -->
        <div class="form-group checkbox-lists">
          <label class="upppercase">
            Have you Menopaused?
            <span class="mandatory blink-2">
              *
            </span>
          </label>
          <div class="radio inline">
            <input class="all_of_the_above_15 obstetric_15" id="Yes_15"
            style="display:inline-block;" type="radio" value="Yes"
            name="checkbox_15[]"
            required
            [(ngModel)] = "menopaused"
            #meno = "ngModel"
            (change)="menopausedChangeHandler()"
            />
            <label for="Yes_15">
              Yes
            </label>
          </div>
          <div class="radio inline">
            <input class="all_of_the_above_15 obstetric_15" id="No_15"
              style="display:inline-block;" type="radio" value="No"
            name="checkbox_15[]"
            required
            [(ngModel)] = "menopaused"
            #meno = "ngModel"
            (change)="menopausedChangeHandler()"
              />

            <label for="No_15">
              No
            </label>
          </div>
          <div *ngIf="meno.invalid && (f.submitted || meno.dirty || meno.touched)" class="alert alert-danger" class="cust-error">
            <div *ngIf="meno.errors.required">
              This field is required.
            </div>
          </div>
        </div>
        <!-- /.menupaused -->
        
      </section>
    </div>
    <div *ngIf="f.form.invalid; else elseblock">
      {{ profileDataService.validationError(f.form.invalid, 3) }}
    </div> 
    <ng-template #elseblock>
      {{ profileDataService.validationError(f.form.invalid, 3) }}
      {{ formValidHandler() }}
    </ng-template>
    <div class="step-footer">
      <button class="step-btn previous" data-direction="prev" (click)="goToPrevious()" [disabled]="f.form.invalid">
        Previous
      </button>
      <button type="submit" class="step-btn btn btn-danger saveme" data-direction="next">
        Next
      </button>
    </div>
  </div>
</form>
