<div class="content-section">
  <div class="container content-holder">
    <div class="myscroll mCustomScrollbar _mCS_1 mCS_no_scrollbar">
      <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: none;"
        tabindex="0">
        <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
          style="position:relative; top:0; left:0;" dir="ltr">
          <div class="editprofile-container advanced-form-test" id="demo">
            <div class="step-app">
              <app-navigation [isObstetricStepVisible]="showObstetricStep"></app-navigation>
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>