<form id="tab6_form" name="tab6_form" novalidate="novalidate" (ngSubmit)="f.form.valid && goToNext()" #f="ngForm">
  <div class="content-card">
    <div class="profile-content step-content">
      <section class="step-tab-panel active" id="tab6">
        
        
          <!--CBC start--> 
        <div class="form-group eff-field">
          <label>
            CBC
            <span class="mandatory blink-2">
              *
            </span>
          </label>
          <input  class="form-control valid required border-ef" id="question_26"
            name="26"
            maxlength="2" 
            min="0"
            max="30"
            required
            type="text" 
            [(ngModel)]="bloodParameters['26']" 
            #question_26="ngModel"
            DigitDecimaNumberOnly 
          type="text">
        <div class="error-26"></div>
          <div class="form-group">
              <div *ngIf="question_26.invalid && (f.submitted || question_26.dirty || question_26.touched)" class="alert alert-danger" class="cust-error">
                <div *ngIf="question_26.errors.required">
                  CBC  is required.
                </div>
              </div>
            </div>
        </div>
        <!--CBC end--> 

        <div class="form-group">
          <label>
          </label>
          <div class="row">
            <!--Cholesterol start--> 
            <div class="sub-group col-xs-12 col-sm-6">
              <label class="label-input">
                Cholesterol (mg/dl)
                <span class="mandatory blink-2">
                  *
                </span>
              </label>
              <input  class="form-control valid required border-ef cholRange" id="question_33" name="33"
              maxlength="4" 
              min="0"
              max="1000"
              required
              [(ngModel)]="bloodParameters['33']" 
              #question_33="ngModel"
              DigitDecimaNumberOnly   
              type="text">
              <div class="error-33"></div>
                <div *ngIf="question_33.invalid && (f.submitted || question_33.dirty || question_33.touched)" class="alert alert-danger" class="cust-error">
                  <div *ngIf="question_33.errors.required">
                    Cholesterol  is required.
                  </div>
                </div>
            </div>
            <!--Cholesterol end--> 
              <!--HDL start--> 
            <div class="sub-group col-xs-12 col-sm-6">
              <label class="label-input">
                HDL (mg/dl)
                <span class="mandatory blink-2">
                  *
                </span>
              </label>
              <input  class="form-control valid required border-ef positiveNumber hdlRange"
                id="question_34" name="34"
                maxlength="2" 
                min="0"
                max="90"
                required
                type="text" 
                [(ngModel)]="bloodParameters['34']" 
                #question_34="ngModel"
                DigitDecimaNumberOnly   >
              <div class="error-34"></div>
              <div *ngIf="question_34.invalid && (f.submitted || question_34.dirty || question_34.touched)" class="alert alert-danger" class="cust-error">
                  <div *ngIf="question_34.errors.required">
                      HDL  is required.
                  </div>
                </div>
            </div>
              <!--HDL end--> 
                <!--Triglycerides start--> 
            <div class="sub-group col-xs-12 col-sm-6">
              <label class="label-input">
                Triglycerides (mg/dl)
                <span class="mandatory blink-2">
                  *
                </span>
              </label>
              <input  class="form-control valid required border-ef positiveNumber tgRange"
                id="question_35" name="35"
                maxlength="4" 
                min="0"
                max="1000"
                required
                [(ngModel)]="bloodParameters['35']" 
                #question_35="ngModel"
                DigitDecimaNumberOnly  
                type="text">
              <div class="error-35"></div>
              <div *ngIf="question_35.invalid && (f.submitted || question_35.dirty || question_35.touched)" class="alert alert-danger" class="cust-error">
                  <div *ngIf="question_35.errors.required">
                      Triglycerides  is required.
                  </div>
                </div>
            </div>
              <!--Triglycerides end--> 
              <!--LDL start--> 
            <div class="sub-group col-xs-12 col-sm-6">
              <label class="label-input">
                LDL (mg/dl)
                <span class="mandatory blink-2">
                  *
                </span>
              </label>
              <input  class="form-control valid required border-ef positiveNumber ldlRange"
                id="question_36" 
                maxlength="3" 
                min="0"
                max="400"
                required
                [(ngModel)]="bloodParameters['36']" 
                #question_36="ngModel"
                DigitDecimaNumberOnly 
                name="36" type="text">
              <div class="error-36"></div>
              <div *ngIf="question_36.invalid && (f.submitted || question_36.dirty || question_36.touched)" class="alert alert-danger" class="cust-error">
                  <div *ngIf="question_36.errors.required">
                      LDL  is required.
                  </div>
                </div>
            </div>
            <!--LDL end--> 
              <!--VLDL start--> 
            <div class="sub-group col-xs-12 col-sm-6">
              <label class="label-input">
                VLDL (mg/dl)
                <span class="mandatory blink-2">
                  *
                </span>
              </label>
              <input  class="form-control valid required border-ef positiveNumber vldlRange"
                id="question_37" 
                maxlength="3" 
                min="0"
                max="100"
                required
                [(ngModel)]="bloodParameters['37']" 
                #question_37="ngModel"
                DigitDecimaNumberOnly 
                  name="37" type="text">
              <div class="error-37"></div>
              <div *ngIf="question_37.invalid && (f.submitted || question_37.dirty || question_37.touched)" class="alert alert-danger" class="cust-error">
                  <div *ngIf="question_37.errors.required">
                      VLDL  is required.
                  </div>
                </div>
            </div>
            <!--VLDL end--> 
            <!--LDL/HDL start--> 
            <div class="sub-group col-xs-12 col-sm-6">
              <label class="label-input">
                LDL/HDL (mg/dl)
                <span class="mandatory blink-2">
                  *
                </span>
              </label>
              <input aria-required="true" class="form-control valid required border-ef positiveNumber ldl-hdlRange"
                id="question_38" name="38"
                maxlength="1" 
                min="0"
                max="5"
                required
                [(ngModel)]="bloodParameters['38']" 
                #question_38="ngModel"
                DigitDecimaNumberOnly 
                type="text">
              <div class="error-38"></div>
              <div *ngIf="question_38.invalid && (f.submitted || question_38.dirty || question_38.touched)" class="alert alert-danger" class="cust-error">
                  <div *ngIf="question_38.errors.required">
                      LDL/HDL  is required.
                  </div>
                </div>
            </div>
            <!--LDL/HDL end--> 
          </div>
        </div>
        <!--HbA1c starts--> 
        <div class="form-group eff-field">
          <label>
            HbA1c (%)
            <span class="mandatory blink-2">
              *
            </span>
          </label>
          <input  class="form-control valid required border-ef positiveNumber hba1cRange"
            id="question_28" name="28" 
            maxlength="2" 
            min="0"
            max="20"
            required 
            [(ngModel)]="bloodParameters['28']" 
            #question_28="ngModel"
            DigitDecimaNumberOnly 
              type="text">
          <div class="error-28"></div>
          <div *ngIf="question_28.invalid && (f.submitted || question_28.dirty || question_28.touched)" class="alert alert-danger" class="cust-error">
              <div *ngIf="question_28.errors.required">
                  HbA1c  is required.
              </div>
            </div>
        </div>
        <!--HbA1c end--> 
      </section>
    </div>
  <div *ngIf="f.form.invalid; else elseblock">
    {{ profileDataService.validationError(f.form.invalid, 6) }}
  </div> 
  <ng-template #elseblock>
    {{ profileDataService.validationError(f.form.invalid, 6) }}
    {{ formValidHandler() }}
  </ng-template>
    <div class="step-footer">
        <button class="step-btn previous" data-direction="prev"  (click)="goToPrevious()" [disabled]="f.form.invalid">
          Previous
        </button>
        <button type="submit" class="step-btn btn btn-danger saveme" data-direction="next">
          Next
        </button>
      </div>
  </div>
</form>