<form id="tab5_form" name="tab5_form" novalidate="novalidate" (ngSubmit)="f.form.valid && goToNext()" #f="ngForm">
  <div class="content-card">
    <div class="profile-content step-content">
      <section class="step-tab-panel active" id="tab5">
        

        <!-- waist -->
        <div class="form-group eff-field">
          <label>Waist (cms) <span class="mandatory blink-2">*</span> <span class="showinfo-form-container"><i
                class="fa fa-info"></i></span></label>
          <p [ngClass]="{ 'has-error': waist.touched && waist.invalid }">
          <input id="question_23" class="form-control required  border-ef valid"   aria-required="true" aria-invalid="false"
          type="text" 
          name="23"
          maxlength="10"
          [(ngModel)] = "measurements['23']"
          #waist = "ngModel"
          required
          DigitDecimaNumberOnly
            />
          </p>
          <div *ngIf="waist.invalid && (f.submitted || waist.dirty || waist.touched)" class="alert alert-danger" class="cust-error">
            <div *ngIf="waist.errors.required">
              This field is required.
            </div>
          </div>
        </div>
        <!-- /.waist -->

        <!-- weight -->
        <div class="form-group eff-field">
          <label>Weight (kgs)<span class="mandatory blink-2">*</span></label>
          <p [ngClass]="{ 'has-error': weight.touched && weight.invalid }">
          <input id="question_24" class="form-control required  border-ef valid" aria-required="true" aria-invalid="false"
            type="text" 
            name="24"
            maxlength="10"
            [(ngModel)] = "measurements['24']"
            #weight = "ngModel"
            required
            DigitDecimaNumberOnly
            />
          </p>
          <div *ngIf="weight.invalid && (f.submitted || weight.dirty || weight.touched)" class="alert alert-danger" class="cust-error">
              <div *ngIf="weight.errors.required">
                  This field is required.
              </div>
          </div>
        </div>
        <!-- /.weight -->

        <!-- height -->
        <div class="form-group eff-field">
          <label>Height (cms)<span class="mandatory blink-2">*</span></label>
          <p [ngClass]="{ 'has-error': height.touched && height.invalid }">
          <input id="question_25" class="form-control required  border-ef valid" aria-required="true" aria-invalid="false"
          type="text" 
          name="25"
          maxlength="10"
          [(ngModel)] = "measurements['25']"
          #height = "ngModel"
          required
          DigitDecimaNumberOnly
            />
          </p>
          <div *ngIf="height.invalid && (f.submitted || height.dirty || height.touched)" class="alert alert-danger" class="cust-error">
            <div *ngIf="height.errors.required">
              This field is required.
            </div>
          </div>
        </div>
        <!-- /.height -->
      </section>
    </div>
    <div *ngIf="f.form.invalid; else elseblock">
      {{ profileDataService.validationError(f.form.invalid, 5) }}
    </div>
    <ng-template #elseblock>
      {{ profileDataService.validationError(f.form.invalid, 5) }}
      {{ formValidHandler() }}
    </ng-template>
    <div class="step-footer">
      <button class="step-btn previous" data-direction="prev" (click)="goToPrevious()" [disabled]="f.form.invalid">
        Previous
      </button>
      <button type="submit" class="step-btn btn btn-danger saveme" data-direction="next">
        Next
      </button>
    </div>
  </div>
</form>