<header class="top-bar spread">
  <nav class="top-bar-nav">
    <a routerLink="/" class="top-bar-link">
      <i class="icofont-spoon-and-fork"></i>
      <span>Home</span>
    </a>
    <a routerLink="/products" class="top-bar-link">
      <span>Products</span>
    </a>
    <a routerLink="/past-orders" class="top-bar-link">
      <span>Past Orders</span>
    </a> </nav>
  <a (click)="cancelEvent()" class="top-bar-cart-link">
    <i class="icofont-cart-alt icofont-1x"></i>
    <span>Cart ({{ subQuantity }})</span>
  </a>
</header>
