  <div class="content-section">
    <div class="container content-holder">
      <div class="myscroll">
        <div class="dashpanelbody">
          <div class="dashrowtop">
            <div class="dashboxes fitnessdetailsnew">
              <div class="fitnessheading">
                Fitness details
                 <!-- <a href="javascript:void(0)" class="float-right" id="sync_google" (click)="googleSyncModal = true">Google Fit Sync</a> -->
              </div>
              <div class="fitnessdetailsbody">
                <div class="row">
                  <div *ngFor="let item of dailyChallenge; let i = index">
                    <div class="clearfix" *ngIf="$index % 3 == 0"></div>
                  <div class="col-sm-4  fitnessdata">
                    <p class="headdata"><span [className]="item.class"></span>{{ item.title }}</p>
                    <p class="resultdata"><span class="bigcount numscroller roller-title-number-1 scrollzip isShown"
                        data-min="0" data-max="0" data-delay="10" data-increment="10" data-slno="1">
                        <span *ngIf="item.title=='water in-take'">{{ item.value+waterInTake }}</span>
                        <span *ngIf="item.title!='water in-take'">{{ item.value }}</span>
                        </span><small>{{ item.unit }}</small>
                    </p>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dashcolholder">
              <div class="dashboxes intakebuttonnew">
                <button class="intake heartbeat " (click)="openChallengePopup()" id="challengePopup">Enter your In-take</button>
              </div>
              <div class="dashboxes achievementsnew">
                <span 
                 *ngIf="bonusMedals?.steps != 0 || bonusMedals?.calories != 0 || bonusMedals?.active_time != 0; 
                 else elseblock">
                <img src="assets/images/sprinkles.png" alt="" class="sparklesdown">
                <div class="medalsholder">
                    <div class="holdmedal1" *ngIf="bonusMedals?.steps"><img src="assets/images/stage_images/active/BPStepcount.png"
                        alt=""></div>
                    <div class="holdmedal2" *ngIf="bonusMedals?.calories"><img src="assets/images/stage_images/active/BPCalories.png" alt=""></div>
                    <div class="holdmedal3" *ngIf="bonusMedals?.active_time"><img src="assets/images/stage_images/active/BPActivetime.png" alt=""></div>
                </div>
                    <p class="medalsline">You have won medals for completing</p>
                    <p class="challenges">All Challenges</p>
                  </span>
              <ng-template #elseblock>
                <div class="no-data-grid">
                  <img src="assets/images/hiddenmedals.png" alt="" class="">
                  <span>No Data Available</span>
                </div>
              </ng-template>
              </div>
            </div>
            <div class="dashcolholder">
              <div class="dashboxes blogholder">
                <p class="headdata"><span class="sprite blogs"></span>Blog <a  routerLink="/dailyblog" class="readmore">Read more</a></p>
                <p class="blogname">{{ dayWiseBlog?.title }}</p>
                <p class="blogcontent" [innerHTML]="blogContent"></p>
                <div class="infographicblog">
                  <img src="assets/images/infographicblog.png" alt="" class="info_graphic">
                </div>
              </div>
            </div>
          </div>
          <div class="dashrowmiddle dashboxes ">
            <div class="dashboardfullcol dash-medal-display">
              <div class="fitnessheading">Medal History<a routerLink="/medalhistory">Details</a></div>
              <div class="medaldetailsbody clearfix">
                <div class="webmedal">
                  <div class="section" *ngFor="let data of totalStages; let i = index">
                    <div *ngIf="stageHistory >= data">
                      <img src="assets/images/stage_images/active/medal-stage-{{data}}-active.png" alt="">
                    </div>
                    <div *ngIf="data > stageHistory">
                      <img src="assets/images/stage_images/inactive/medal-stage-{{data}}-inactive.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="responsive-medal">
                  <div class="resp-medalslide slick-initialized slick-slider">
                    <div class="slick-list draggable" style="padding: 0px 70px;">
                      <div class="slick-track" style="opacity: 1; width: 0px; transform: translate3d(0px, 0px, 0px);">
                        <div class="respsection slick-slide slick-current slick-active slick-center" data-slick-index="0"
                          aria-hidden="false" tabindex="0" style="width: 0px;">
                          <span>No medals won</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dashrowbottom">
            <div class="dashcolholder">
              <div class="dashboxes personcount">
                <p class="headdata"><span class="sprite person"></span>No. of Person</p>
                <div class="inline-data">
                  <p class="resultdata mg-tp float-left">
                    <span class="bigcount numscroller roller-title-number-6 scrollzip isShown" data-min="0" data-max="1"
                      data-delay="2" data-increment="2" data-slno="6">{{ noOfPerson }}</span>
                    <small>count</small>
                  </p>
                  <p class="float-left text-center">
                    <img src="assets/images/person.png">
                  </p>
                </div>
              </div>
              <div class="dashboxes programstate">
                <p class="headdata"><span class="sprite programstage"></span>Program stages</p>
                <div class="inline-data">
                  <p class="resultdata mg-tp float-left">
                    <span class="bigcount numscroller roller-title-number-7 scrollzip isShown" data-min="0" data-max="12"
                      data-delay="2" data-increment="1" data-slno="7">{{stages}}</span><small>stages</small>
                  </p>
                  <p class="float-left text-center">
                    <img src="assets/images/stage.png">
                  </p>
                </div>
              </div>
            </div>
            <div class="dashcolholder resp30">
              <div class="dashboxes stars" *ngIf="stageTopper?.topperDetails.week_id != 0; else stageBlock">
                <div class="overlaysuper"></div>
                <p class="headdata"><span class="sprite starofthestage "></span>Star of the stage {{ stageTopper?.topperDetails.week_id }}</p>
                <div class="profile text-center">
                  <img src="assets/images/Profile.png" alt="">
                  <p class="username">{{ stageTopper?.rank.name }}</p>
                  <p class="points no-mg ">{{ stageTopper?.topperDetails.total_points }} Points</p> 
                </div>
                <div><img src="assets/images/character.png" alt="" class="superherouser entrance "></div>
              </div>
              <ng-template #stageBlock>
                <div class="dashboxes hiddenstars " #stageBlock>
                  <div class="overlaysuper"></div>
                  <div class="profile text-center">
                  </div>
                </div>
              </ng-template>
            </div>
            <div class="dashboxes dailyprogressnew">
              <div class="fitnessheading">Daily Progress (Stage wise)</div>
              <div class="dp-fitnessdetailsbody ">
              <app-linechart></app-linechart>
              </div>
              
            </div>
          </div>
      
        </div>
      </div>
    </div>
    <script type="text/javascript" src="http://localhost:8000/slick/slick.min.js"></script>


    <div class="buildings">
      <img src="assets/images/base.png" alt="">
    </div>
  </div>

<!-- The Modal -->
<div class="modal" id="daily_assessment_modal" [style.display]="showChallengeModal ? 'block' : 'none'"
  style="overflow-x: hidden;overflow-y: auto;" >
  <div class="modal-dialog intake-modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="daily_assessment_title">Enter your intake</h5>
        <button type="button" (click)="closeModel()" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <form  [formGroup]="challengeForm" name="form" #ngForm="ngForm" (ngSubmit)="challengeForm.valid && savedailyChallenge()" novalidate>
        <div class="modal-body assessment-form"  id="daily_assessment_form_divs">
        <span *ngFor="let data of challengeData; let i = index" [ngSwitch]="data.input_type">
         
        
        <div class="row" *ngSwitchCase="'text'">
          <div class="col-lg-12">
            <div class="form-group">    
                
             <input type="text" class="form-control" formControlName="{{ data.input_name }}" #name />
              <label class="label-input">{{data.placeholder}} <span class="require-sign">*</span></label>
              <div *ngIf="ngForm.submitted || formControls[data.input_name].touched" class="invalid-feedback " style="color:red;">
                  <div *ngIf="formControls[data.input_name].errors?.required">{{ data.validation_messages.required }}</div>
                  <div *ngIf="formControls[data.input_name].errors?.number">{{ data.validation_messages.number }}</div>
                  <div *ngIf="formControls[data.input_name].errors?.digits">{{ data.validation_messages.digits }}</div>
                  <div *ngIf="formControls[data.input_name].errors?.rangeLength">{{ data.validation_messages.rangeLength }}</div>
                  <div *ngIf="formControls[data.input_name].errors?.min">{{ data.validation_messages.min }}</div>
                  <div *ngIf="formControls[data.input_name].errors?.max">{{ data.validation_messages.max }}</div>
                  <div *ngIf="formControls[data.input_name].errors?.alphaComma">{{ data.validation_messages.alphaComma }}</div>
                </div>
            </div>
          </div>
        </div>


        <div class="form-group" *ngSwitchCase="'radio'">
            <label class="label-input">{{ data.question }} <span class="require-sign">*</span></label>
            <div class="radio inline" *ngFor="let val of data.value; let j = index">
              <input id="{{data.input_name}}{{j}}" formControlName="{{ data.input_name }}" style="display:inline-block;" type="radio"
                class="form-control"
                value="{{val.title}}"
                #name
              />
              <label for="{{data.input_name}}{{j}}">
                {{val.title}}
              </label>
            </div>
            <div *ngIf="ngForm.submitted && formControls[data.input_name].errors?.required" class="invalid-feedback" style="color: red">
              <div *ngIf="formControls[data.input_name].errors?.required">{{ data.validation_messages.required }}</div>
            </div>
          </div>

          <div class="form-group" *ngSwitchCase="'select'">
              <label class="label-input">{{ data.question }} <span class="require-sign">*</span></label>
              <select formControlName="{{data.input_name}}" id="{{data.input_name}}" class="form-control" #name >
                <option value="">{{data.question}}</option>
                <option *ngFor="let val of data.value; let j = index" value="{{val.title}}">{{val.title}}</option>
              </select>
              <div *ngIf="ngForm.submitted && formControls[data.input_name].errors?.required" class="invalid-feedback" style="color: red">
                <div *ngIf="formControls[data.input_name].errors?.required">{{ data.validation_messages.required }}</div>
              </div>
            </div>

          


         
    </span>

        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn submit-btn" id="daily_assessment_btn_save">Submit <span class="loader loaderBut" *ngIf="butLoader"></span></button>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- The Modal 2 -->
<div class="modal" id="first_login_modal" [style.display]="googleSyncModal ? 'block' : 'none'">
  <div class="modal-dialog intake-modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="first_login_modal">Google Sync</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="googleSyncModal = false">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body assessment-form" id="daily_assessment_form_div">
        <div>
          <p>We will sync your google fit data every 1 hour. </p>
          <p>To manually sync your data click &nbsp; <i class="fa fa-refresh rotate"></i> &nbsp; icon on the dashboard.
        </div>
      </div>
    </div>
  </div>
</div>