<form id="tab2_form" name="tab2_form" novalidate="novalidate" (ngSubmit)="f.form.valid && !ailmentsInvalid && !allergiesInvalid && goToNext()" #f="ngForm">
  <div class="content-card">
    <div class="profile-content step-content">
      <section class="step-tab-panel active" id="tab2">
        
        <!----APPROPRIATE start-->
        <div class="form-group checkbox-lists">
          <label>Do you suffer from any of the following ailments? Tick the appropriate<span class="mandatory blink-2">*</span></label>
          <div class="checkbox" *ngFor="let option of ailmentOptions">
            <input name="checkbox_11[]" type="checkbox" value="{{option.value}}" id="{{ option.id }}" required
              [(ngModel)]="option.checked" [ngModelOptions]="{standalone: true}" #ailments="ngModel"
              (change)="ailmentOptionChangeHandler(option)">
            <label for="{{ option.id }}">
              {{ option.name }}
            </label>
          </div>
          <div *ngIf="(f.submitted) && ailmentsInvalid" class="alert alert-danger" class="cust-error">
            <div>
              Please check any one field.
            </div>
          </div>
        </div>
        <!----APPROPRIATE end-->

        <!----Food allergies start-->
        <div class="form-group checkbox-lists">
          <label>Food allergies / Food intolerance<span class="mandatory blink-2">*</span></label>
          <div class="checkbox" *ngFor="let option of allergyOptions">
            <input name="checkbox_12[]" type="checkbox" value="{{option.value}}" id="{{ option.id }}" required
              [(ngModel)]="option.checked" [ngModelOptions]="{standalone: true}" #allergies="ngModel"
              (change)="allergyOptionChangeHandler(option)">
            <label for="{{ option.id }}">
              {{ option.name }}
            </label>
          </div>
          <div *ngIf="(f.submitted) && allergiesInvalid" class="alert alert-danger" class="cust-error">
            <div>
              Please check any one field.
            </div>
          </div>
          
          <!-- <p>
            <input type="text" id="other_please_mention_12" name="checkbox_12[]" class="form-control other_please_mention_12" style="display:none">
          </p> -->
        </div>

        <div *ngIf="showOtherAllergyField" class="form-group">
          <label class="label-input">
            Other Food allergies / Food intolerance
            <span class="mandatory blink-2">
              *
            </span>
          </label>
          <p [ngClass]="{ 'has-error': otherallergy.touched && otherallergy.invalid }">
            <input class="form-control valid required border-ef" id="otherallergy" name="checkbox_12[]" type="text" aria-required="true"
              required [(ngModel)]="otherFoodAllergy" #otherallergy="ngModel" (input)="otherFoodAllergyChangeHandler()">
          </p>
        
          <div class="form-group">
            <div *ngIf="otherallergy.invalid && (f.submitted ||otherallergy.dirty || otherallergy.touched)" class="alert alert-danger"
              class="cust-error">
              <div *ngIf="otherallergy.errors.required">
                Other food allery is required.
              </div>
            </div>
          </div>
        </div>
        <!----Food allergies end-->

          <!----How often do you catch cold/ cough or flu start-->
        <div class="form-group ">
          <label>How often do you catch cold/ cough or flu<span class="mandatory blink-2">*</span></label>
          <div class="radio inline">
              <input class="13_radio" id="13_atleast_once_a_month" type="radio"
              [(ngModel)]="medicalHistory['13']"
              #catchCold13="ngModel"
              style="display:inline-block;" 
              name="13" 
              value="Atleast once a month" 
              required
              >
            <label for="13_atleast_once_a_month">
              Atleast once a month
            </label>
          </div>
          <div class="radio inline">
              <input class="13_radio" id="13_once_in_two_months" type="radio"
              [(ngModel)]="medicalHistory['13']"
              #catchCold13="ngModel"
              style="display:inline-block;" name="13" value="Once in two months" required>
            <label for="13_once_in_two_months">
              Once in two months
            </label>
          </div>
          <div class="radio inline">
            <input class="13_radio" id="13_once_in_three_months" 
            [(ngModel)]="medicalHistory['13']"
            #catchCold13="ngModel"
            type="radio"
            style="display:inline-block;" name="13" value="Once in three months" required>
            <label for="13_once_in_three_months">
              Once in three months
            </label>
          </div>
          <div class="radio inline">
              <input class="13_radio valid" id="13_never" type="radio" style="display:inline-block;"
              [(ngModel)]="medicalHistory['13']"
              #catchCold13="ngModel"
              name="13" value="Never" required>
            <label for="13_never">
              Never
            </label>
          </div>
          <div class="form-group">
                <div *ngIf="catchCold13.invalid && (f.submitted || catchCold13.dirty || catchCold13.touched)" class="alert alert-danger" class="cust-error">
                    <div *ngIf="catchCold13.errors.required">
                    Please check any one field.
                    </div>
                </div>
            </div>
        </div>
        <!----How often do you catch cold/ cough or flu end-->
          
        
      </section>
    </div>
    <div *ngIf="f.form.invalid; else elseblock">
      {{ profileDataService.validationError(f.form.invalid, 2) }}
    </div> 
    <ng-template #elseblock>
      {{ profileDataService.validationError((f.form.invalid || ailmentsInvalid || allergiesInvalid), 2) }}
      {{ formValidHandler() }}
    </ng-template>
    <div class="step-footer">
          <button class="step-btn previous" data-direction="prev" (click)="goToPrevious()" [disabled]="f.form.invalid || ailmentsInvalid || allergiesInvalid">
            Previous
          </button>
          <!-- <button class="step-btn btn btn-danger saveme" data-direction="next" (click)="goToNext()" [disabled]="f.form.invalid">
            Next
          </button> -->
          <button type="submit" class="step-btn btn btn-danger saveme" data-direction="next">
            Next
          </button>
    </div>
  </div>
</form>
